*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to top,lightgrey,mediumpurple);
    /*background-color: lightgrey;*/
    font-family: 'Raleway', sans-serif;
}
.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
}
.card image{
    position: center;
}
.card-list{
    background-color: aliceblue;
    width: 100%;
}
.logo{
    text-align: center;
    padding: 32px;
}
.card-entry{
    background-color: aliceblue;
    margin-left: 370px;
    width: max-content;
}
.container-entry{
    height: 1400px;
    overflow: hidden;
}
