<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>About</title>
</head>
<body>
<div th:insert="base :: navbar"></div>
<div class="container">
    <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/katgurl21/image/upload/v1569549451/BlogApp/Computer-Classroom_AACC-03-15_141_optimized_1200x600_tkfdn6.jpg"
             alt="classroom">
        <div class="card-body">
            <h4 class="card-title"><b>Immersive Java Bootcamp</b></h4>
            <p class="card-text">
                This eight-week immersive course teaches the core concepts of Java.  It also covers Object-Oriented Programming and introduces
                responsive web design.</p>
        </div>
    </div>
</div>
<div class="footer" th:insert="base :: footer"></div>
</body>
</html>